.inpt{
    height: 50px;
    width: 50%;
}

.bgClr{
    background-color: rgba(231, 54, 54, 0.911);
    padding: 3%;
    border-radius: 10px;
    
}
#textArea{
    width: 80%;
}
.bg-2{
    background-color: rgba(231, 54, 54, 0.911);
    border-radius: 10px;
}

#term{
    width: 100%;
}
#textArea2{
    width: 50vh;
}

.mkc{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px ;
}